# --- Vivado ---
*.jou
*.log
*.wdb
*.mem
*.rpt
.Xil/
vivado_*.backup/
*.hw/
*.sim/
*.ip_user_files/
*.runs/
*.cache/
*.srcs/
*.gen/
*.bit
*.bin

# --- Quartus ---
*.qws
*.qdf
*.qpf.bak
db/
incremental_db/
*.rpt
*.summary
*.done
*.pin
*.smsg
*.jdi
*.sld
*.sld_db/
cdeb_session*
*.bak

# --- ISE ---
*.lso
*.xmsgs
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.ise.log
*.ncd
*.ngc
*.ngd
*.pad
*.par
*.pwr
*.scr
*.twr
*.xrpt
_ngo/
xst/
*.xst
*.srp
*.stx

# --- 通用 ---
*.swp
*.swo
.DS_Store
Thumbs.db
